---
layout: page
permalink: /categories/
title: Categories
---


<div id="archives">
<ul id="myUL">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    <li>
      <span class="caret">
        <h3 class="category-head">{{ category_name }}</h3>
        <a name="{{ category_name | slugize }}"></a>
      </span>
      <ul class="nested">
        {% for post in site.categories[category_name] %}
        <li>
          <article class="archive-item">
            <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
          </article>
        </li>
        {% endfor %}
      </ul>
    </li>
  </div>
{% endfor %}
</ul>
</div>